*{
    margin: 0;padding: 0;box-sizing: border-box;
}

/* Utility */

.m-y-2{
    margin: 2rem 0;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.align-center{
    align-self: center;
}

.justify-center{
    justify-content: center;
}

.d-f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Site Header */

#site_header{
    height: 100vh;
    background-image: url(https://www.sushi.com/_next/static/media/neon-street.c2c38843.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

#logo{
    height: 50px;
    margin-right: 0.5rem;
}

.logo>span{
    font-size: 1.5rem;
    font-weight: bold;
}

.container{
    padding-top: 2rem;
}

.chef{
    width: 800px;
    margin: 0 auto;
}

.chef>img{
    height: 200px;
    margin-top: 3rem;
}

.chef h1{
    font-size: 3rem;
    margin: 1rem 0 2rem 0;
}

.chef>span{
    font-size: 1.5rem;
}

.enter-app{
    background-image: linear-gradient(to right, rgba(28, 96, 215, 1),rgba(194, 11, 195, 1));
}

.learn{
    background-color: rgba(46, 51, 72, 1);
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.btn-lg{ 
    display: flex;
    flex-flow: column wrap;
    padding: 2rem 3rem;
    background-color: rgba(46, 51, 72, 1);
    border-radius: 10px;

}

.btn-lg>span:first-child{
    font-size: 3rem;
    font-weight: bold;
}

.btn,
.btn-lg{
    cursor: pointer;
}